/* add static top and bottom bar */
/* the bottom bar */
.bottombar {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background-image: url("add");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

/* The top bar */
.topbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-image: url("add");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

/* add side bar functionality */
.sidebar {
  overflow-y: scroll;
  min-width: 150px;
  position: fixed;
  height: 100%;
  background: #f0f0f0;
  border-right: 1px #aaa solid;
  padding-right: 20px;
  height: calc(100% - 80px); /* mess with this till it covers both top and bottom bar */
  
}
/* add website style scheme */
