/* add static top and bottom bar */
/* the bottom bar */
.bottombar {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background-image: url("add");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

/* The top bar */
.topbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-image: url("add");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

/* add side bar functionality */

/* add website style scheme */
